<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>target/bank.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>target/books.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <!-- Custom logger with additivity -->
    <!--    <logger name="com.example.app.service" level="DEBUG" additivity="false">-->
    <!--        <appender-ref ref="FILE" />-->
    <!--    </logger>-->
    <!--    This custom logger is specifically for the com.example.app.service package with a log level of DEBUG. additivity="false" is set, which means log messages generated -->
    <!--    by loggers within the com.example.app.service package will not propagate up to the root logger or any other parent loggers (e.g., com.example.app). The FILE appender-->
    <!--    is explicitly referenced for this logger, so only log messages from com.example.app.service will be logged to logs/myapp.log and not to the console (CONSOLE appender).-->

</configuration>